ack
antigen-git
bat
bitwarden-cli
catimg
direnv
docker
docker-compose
exa
fd
gopass
jq
nmap
nvim-packer-git
nvm-git
openssh
pandoc
pyenv
rbenv-git
ripgrep
ripgrep-all
ruby-build-git
sed
tfenv
the_silver_searcher
tig
vim
w3m
yay
zsh
zsh-theme-powerlevel10k-git

{{ if .bspwm -}}
alacritty
arandr
authy
bspwm
ccid
cyberark-summon
dialog
dunst
feh
google-chrome
gtk2
i3lock
jetbrains-toolbox
libfido2
lightdm
lightdm-gtk-greeter
neovim-git
nerd-fonts-complete
noto-fonts
opensc
pavucontrol
picom
pkgconf
polybar
rofi
rustup
sxhkd
texinfo
xcursor-vanilla-dmz
{{- end }}
