[user]
	name = {{ .name }}
	email = {{ .email }}
[alias]
	co = checkout
	ci = commit
	rb = rebase
[push]
	default = current
[core]
	excludesfile = ~/.gitignore_global
[include]
        path = ~/.gitconfigoverride
[pull]
	rebase = true
[init]
	defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
