[user]
	name = {{ .name }}
	email = {{ .email }}
[alias]
	co = checkout
	ci = commit
	rb = rebase
[push]
	default = current
[core]
	excludesfile = ~/.gitignore_global
	pager = delta
[include]
        path = ~/.gitconfigoverride
[pull]
	rebase = true
[init]
	defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential "https://github.com"]
	helper =
  {{ if eq .chezmoi.os "darwin" -}}
	helper = !/opt/homebrew/bin/gh auth git-credential
  {{ else if eq .chezmoi.os "linux" -}}
  helper = !/usr/bin/gh auth git-credential
{{ end -}}
[credential "https://gist.github.com"]
	helper =
  {{ if eq .chezmoi.os "darwin" -}}
	helper = !/opt/homebrew/bin/gh auth git-credential
  {{ else if eq .chezmoi.os "linux" -}}
  helper = !/usr/bin/gh auth git-credential
  {{ end }}
[credential]
	helper = store
[interactive]
	diffFilter = delta --color-only
[delta]
	features = side-by-side line-numbers decorations
	syntax-theme = Monokai Extended
	navigate = true
	line-numbers = true
	side-by-side = true
