{{ if eq .chezmoi.os "linux" -}}
{{ if eq .chezmoi.osRelease.id "arch" -}}
#!/usr/bin/env bash
mkdir -p ~/.log
sudo pacman -S --needed git base-devel
if ! [ -x "$(command -v yay)" ]; then
  git clone https://aur.archlinux.org/yay-bin.git && cd yay-bin && makepkg -si
fi
cd ~/ && rm -rf ~/yay-bin
yay
yay -Scc --needed antigen-git bitwarden-cli direnv nvm-git rbenv-git ripgrep ruby-build-git vim zsh zsh-theme-powerlevel10k-git openssh bat ncat pandoc ripgrep tig w3m ack catimg exa ripgrep-all 


shell=$(pinky -l $USER|grep -oP 'Shell: \K.*')
if [ $shell != "/bin/zsh" ]
then
  chsh -s /bin/zsh
  echo "Shell changed to ZSH you need to logout and log back in"
fi

{{ if .bspwm -}}
yay -Scc --needed bspwm sxhkd rofi alacritty picom dunst polybar xcursor-vanilla-dmz arandr pavucontrol lightdm lightdm-gtk-greeter nerd-fonts-complete feh noto-fonts gtk2 nerd-fonts-complete libfido2 ccid opensc google-chrome

{{ end -}}
{{ end -}}
{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
/usr/bin/env bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
brew install rbenv antigen direnv gnupg gnupg2 wget

{{ end -}}
