Host *
{{ if eq .chezmoi.os "darwin" -}}
  UseKeychain yes
{{ end -}}
  AddKeysToAgent yes

Host vs-ssh.visualstudio.com ssh.dev.azure.com
	HostkeyAlgorithms +ssh-rsa
	PubkeyAcceptedAlgorithms +ssh-rsa

Host github.com
	User git
