#!/bin/sh

# Load resources and custom configurations
[[ -f ~/.Xresources.local ]] && xrdb -merge -I$HOME ~/.Xresources.local
[[ -f ~/.config.custom ]] && . ~/.config.custom
[[ -f ~/.env_vars ]] && . ~/.env_vars

# Basic BSPWM settings
bspc config border_width         0
bspc config window_gap           12
bspc config split_ratio          0.52
bspc config borderless_monocle   true
bspc config gapless_monocle      true
bspc config honor_size_hints     true
bspc config ignore_ewmh_focus    true
bspc config remove_disabled_monitors true
bspc config remove_unplugged_monitors true
bspc config merge_overlapping_monitors true

# Start sxhkd with logging
exec sxhkd -r ~/.log/sxhkd.log &
# Monitor change detection and handling
~/.config/bspwm/handle-monitors.sh &

# Start GNOME Keyring Daemon
eval "$(gnome-keyring-daemon --start --components=ssh,secrets)"
export SSH_AUTH_SOCK

# General system settings
xsetroot -cursor_name left_ptr
xset s off -dpms # Disable screen power off
thunar --daemon &
picom &
dunst &
xautolock -time 15 -locker 'betterlockscreen -l dim' &
xss-lock --transfer-sleep-lock -- betterlockscreen -l dim &
export SXHKD_SHELL="sh"

{{ if .work -}}
~/AppImages/gearlever_drsprinto_c7f968.appimage --no-sandbox &
{{- end }}

